<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="debug" name="task-manager-logger">

    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-mm-dd HH:mm:ss} [%t] %p %m%n"/>
        </Console>

        <!-- appender for logging to file (optional) -->
        <!--
        <File name="fileLogger" fileName="logs/app.log">
            <PatternLayout pattern="%d{yyyy-mm-dd HH:mm:ss} %p %m%n"/>
        </File>
        -->
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="CONSOLE"/>
        </Root>
    </Loggers>

</Configuration>